 .popupContainer {
    position: fixed;
    background-color: rgba(5, 27, 46, 0.7);
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 100;
}

.container {
    position: relative;
    width: 400px;
    min-height: 300px;
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(0, 0, 0);
    margin: 20px auto;
    overflow: auto;
    top: 5%;
    display: grid;
    grid-template-rows: 1fr 12fr;
}

.header {
    min-height: 30px;
    border-bottom: 2px solid black;
    background-color:  #282c34;
    font-size: xx-large;
    padding-left: 10px;
}

.form {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 2fr 1fr 1fr;
    padding: 10px;
    background-color: #282c343b; 

}

.title {
}

.description {
}

.eventLength {
    background-color:  #e5c07b3f; 
    padding: 5px;
    font-size: xx-large;
}

.from {
}

.to {
    border-bottom: 2px solid black;
}

.noteLabel {
    padding-bottom: 10px;
}

.notes {
    padding-top: 15px;
}

.category {
    width: 100%;
    padding-top: 15px;
    align-self: center;
    border-bottom: 2px solid black;
    display: flex;
    justify-content:center;
}

.notice {
    justify-self: center;
    font-size: large;
    color: rgb(173, 25, 25);
}

.buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 20px;
    padding-left: 60px;
    padding-right: 60px;
}

.fieldLabel {
    float: left;
}

.field {
    float: right;
}
