.button {
  /* width: 400px; */
  height: 25px;
  /* background-color: #b8b8b8; */
  background-color: #C9C7AF;
  /* #bab5a1; */
  /* border-radius: 6px; */
  margin-top: 8px;
  margin-bottom: 12px;
  margin-left: 8px;
  margin-right: 8px;
  text-align: center; 
  padding-bottom:8px;
  display: grid;
	align-items: center;
}

.container {
  background-color: #EEF1DB;

  /* background-color: #854545; */

  height: 5vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  /* flex-direction: row; */
  margin: 0;
  position: fixed;
  width: 100%;
}

.brokenButton {
  height: 25px;
  background-color: #818070;
  color: rgb(97, 97, 97);
  margin-top: 8px;
  margin-bottom: 12px;
  margin-left: 8px;
  margin-right: 8px;
  text-align: center; 
  padding-bottom:8px;
  display: grid;
	align-items: center;
}

.brokenButton .brokenTooltip {
  visibility: hidden;
  width: 120px;
  background-color: rgb(82, 82, 82);
  color: #fff;
  text-align: center;
 
  position: absolute;
  z-index: 1;
}

.brokenButton:hover .brokenTooltip {
  visibility: visible;
}

